@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Rubik:wght@400;500&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body{
    font-family: "Rubik";
}


.title-1{
    font-size: 48px;
    font-family: "Press start";
}

.title-2 {
font-size: 32px;

}

.btn {
    background-color: tomato ;
    color: #fff;
    padding: 15px;
    text-transform: uppercase;
    

}


/*MENU*/
header{

    position: fixed;
    background: #efefef;
    width: 100%;
    padding: 20px 0;
}

.menu{

    max-width: 1200px;
    display: block;
    margin: 0;
}

.menu ul{

 display: inline-block;
}

.menu ul li {
    display: inline-block;
    margin: 0 5px;

}

.menu ul li a {

    padding: 10px;
    color: tomato;
    text-transform: uppercase;
}

/* INTRO */

.intro{

    text-align: center;
    padding: 150px 0;

}

.intro .title-1{

    margin-bottom: ;
}