*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




header{
    padding: 20px;
    ul{
        align-items: flex-end;
        height: 50px;
        background-color: aqua;
        display: flex;
        flex-wrap: wrap;
        gap: 200px;
        justify-content: center;
        
        
        
    }
    

}