
@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Diplomata&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}


header{
    background-color: rgb(12, 5, 49);
    padding-top: 15px;
   
}

.title1{

    color: white;
    text-align: center;
    position: relative;
    bottom: 10px;
    font-family: 'Diplomata', 'cursive';
    font-size: 25px;
}

body{
    display: block;
    background-image: url("https://s2.glbimg.com/JMT9gHHPARPB8M906RFNwlSIhcA=/0x0:1739x753/600x0/smart/filters:gifv():strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2019/h/d/xAHOpuQdGwg2z6qlXIqA/piltover-2-.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.video{
     
    position: relative;
    top: 80px;
    left: 70px;
}

.sobre{
    position: relative;
    top: 20px;
    text-align: center;
    color: #fff ;
    font-size: 20px;
    font-family: 'New Rocker', cursive;
    
}

.curious{

    position: relative;
    top: 120px;
    
    color: white;
    
}

.title2{
    text-align: center;
    font-family: 'Diplomata', 'cursive';
    font-size: 25px;
    
    
}

li{
    text-align: center;
    font-family: 'New Rocker', 'cursive';
    font-size: 20px;
}

.play{
    display: inline-flex;
    width: 80px;
    height: 80px;
    color: rgb(0, 255, 85);
    background: #34495e;
    margin: 0 3px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    font-size: 50px;
    text-decoration: none;
}

.inst{
    display: inline-flex;
    width: 80px;
    height: 80px;
    color: rgb(243, 84, 110);
    background: #34495e;
    margin: 0 3px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    font-size: 50px;
    text-decoration: none;
}

.incone{
    position: absolute;
    top: 150%;
    left: 38%;
    transform: translate(50%, 50%);
    padding-bottom: 200px;

}

a:hover{

    background: white;
}



i{
    transition: 0.5s all;
}

a:hover > i{
    transform: scale(1.4) rotate(26deg);

}

