@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Noto+Sans+JP:wght@900&display=swap');






article{

background-color: black;
background-position: center;


 

}

body{

    height: 400px;
    background-size: cover;

    background-color: black;
    background-image: url("https://i.pinimg.com/736x/99/03/75/9903752ffb61a572858ce153a240b939.jpg");
}

h3{

    background-position: center;

    background-image: url("https://i.pinimg.com/736x/63/e5/1b/63e51b961d7dafab51a771bed693258d--the-movie-phantom.jpg");
    height: 400px;
    background-size: cover;

    background-color: black;
}

.main-title{
    background-color: black;

    color: greenyellow;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    
}

h2 {
color: honeydew;
font-family: 'Josefin Sans', sans-serif;


}

p{

    color: khaki;
    font-family: 'Josefin Sans', sans-serif;
    font-size: x-large;

}

a{

    border-bottom-color: darkblue;

    border-bottom-style: double;

    background-color: blueviolet;
    text-align: center;
    color: cornsilk;
}